.main-color {
    color: #72253d;
}

html,
body {
    scrollbar-width: none;
}

#loading {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: #263038;
    z-index: 2000;
    display: flex;
}

.loader {
    position: relative;
    width: 120px;
    height: 14px;
    border-radius: 0 0 15px 15px;
    background-color: #3e494d;
    box-shadow: 0 -1px 4px #5d6063 inset;
    animation: panex 0.5s linear alternate infinite;
    transform-origin: 170px 0;
    z-index: 10;
    perspective: 300px;

}

.loader::before {
    content: '';
    position: absolute;
    left: calc(100% - 2px);
    top: 0;
    z-index: -2;
    height: 10px;
    width: 70px;
    border-radius: 0 4px 4px 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(#6c4924, #4b2d21), linear-gradient(#4d5457 24px, transparent 0), linear-gradient(#9f9e9e 24px, transparent 0);
    background-size: 50px 10px, 4px 8px, 24px 4px;
    background-position: right center, 17px center, 0px center;
}

.loader::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -2;
    transform: translate(-50%, -20px) rotate3d(75, -2, 3, 78deg);
    width: 55px;
    height: 53px;
    background: #fff;
    background-image:
        radial-gradient(circle 3px, #fff6 90%, transparent 10%),
        radial-gradient(circle 12px, #ffc400 90%, transparent 10%),
        radial-gradient(circle 12px, #ffae00 100%, transparent 0);
    background-repeat: no-repeat;
    background-position: -4px -6px, -2px -2px, -1px -1px;
    box-shadow: -2px -3px #0002 inset, 0 0 4px #0003 inset;
    border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
    animation: eggRst 1s ease-out infinite;
}

@keyframes eggRst {

    0%,
    100% {
        transform: translate(-50%, -20px) rotate3d(90, 0, 0, 90deg);
        opacity: 0;
    }

    10%,
    90% {
        transform: translate(-50%, -30px) rotate3d(90, 0, 0, 90deg);
        opacity: 1;
    }

    25% {
        transform: translate(-50%, -40px) rotate3d(85, 17, 2, 70deg)
    }

    75% {
        transform: translate(-50%, -40px) rotate3d(75, -3, 2, 70deg)
    }

    50% {
        transform: translate(-55%, -50px) rotate3d(75, -8, 3, 50deg)
    }
}

@keyframes panex {
    0% {
        transform: rotate(-5deg)
    }

    100% {
        transform: rotate(10deg)
    }
}



.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-black\/30 {
    background-color: rgba(31, 28, 28, .3);
}

.-z-10 {
    z-index: -10;
}

.bg-video {
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.content {
    z-index: 0;
    text-align: center;
}

.content h2 {
    font-size: 4.5rem;
    line-height: 1;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

menu,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.crepiano-logo {
    width: 22%;
}

.content a {
    padding: 1.25rem;
    border-style: solid;
    border-width: 2px;
    width: 9rem;
    height: 9rem;
    border-radius: 0.75rem;
    border-color: white;
    color: inherit;
    text-decoration: none;
}

.content a:hover {
    background-color: rgb(255 131 0);
    border-color: rgb(255 131 0);
}

.content a:hover.menus {
    background-color: rgb(0 121 52);
    border-color: rgb(0 121 52);
}

.content a:hover.offers {
    background-color: rgb(194 213 0);
    border-color: rgb(194 213 0);

}

.gap-4 {
    gap: 1rem;
}


/* section photos */
.right-corner,
.left-corner {
    width: 50%;
}

.photos {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.photos h2 {
    font-size: 3.75rem;
    line-height: 1;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.webkit-clip-stroke {
    -webkit-text-stroke: 2px #72253d;
    -webkit-text-fill-color: transparent;
}


.row .col-md-4:nth-child(odd) .rounded-card {
    background-color: #FFF5EA;
    border-radius: 15%;
    padding: 2.2rem 2.2rem;
    border: 3px solid #FFF5EA;

    transition: border 0.1s;
}

.row .col-md-4:nth-child(even) .rounded-card {
    background-color: #ffc6ce;
    border-radius: 15%;
    padding: 2.2rem 2.2rem;
    border: 3px solid #ffc6ce;
    transition: border 0.1s;
}



.text-grey {
    color: rgb(103 102 104);
}

.row .col-md-4:nth-child(even) .rounded-card:hover {
    cursor: pointer;
    border-color: #72253d;
}

.row .col-md-4:nth-child(odd) .rounded-card:hover {
    cursor: pointer;
    border-color: orange;
}

.rounded {
    border-radius: 4.25rem !important;
}




/* footer */

footer {
    background-image: url(../imgs/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer a {
    text-decoration: inherit;
    font-weight: bold;
}

footer a:hover {
    color: white;
}

.social a {
    font-size: 2rem;
    text-decoration: inherit;
    font-weight: bold;
    color: inherit;
    padding: 0 0.3rem;
}


.border-top {
    border-top: 1px solid #7c7c7c !important;
}


.bg-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-item a {
    color: #72253d !important;
}



.test {
    width: 330px;
    height: 330px;
    background-color: #72253d;
}


/* delivery */

.delivery-pop {
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1050;
}

.inner-details {
    background: #fff !important;
    border-radius: 1.5rem !important;
    box-shadow: 0 8px 32px 0 rgba(34, 34, 34, 0.25);
    color: #72253d !important;
    min-width: 320px;
    max-width: 350px;
    padding: 2rem 1.5rem !important;
    position: relative;
    border: none;
}

.details a {
    text-decoration: none;
    margin: 1rem 0;
}

.whatsapp:hover {
    color: #25D366;
}

.phone:hover {
    color: #72253d;
}



/* offers */

.item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 30px;
}

.info {

    background-color: #f3d2bc;
    position: absolute;
    bottom: -40px;
    width: 80%;
    left: 10%;
    opacity: 0;
    transition: all 0.5s;
}

.myImg {
    overflow: hidden;
}

img {
    transition: all 0.4s 0.2s ease-in-out;
}

.item:hover img {
    transform: scale(1.1);
}

.item:hover .info {

    opacity: 1;
    bottom: 20px;
}

#boxContainer {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.54);
    z-index: 12222;
}

#innerBox {
    width: 60%;
    height: 80vh;
    background-image: url(../imgs/image4\ \(1\).png);
    background-size: 100% 100%;
}

i {
    font-size: 25px;
    cursor: pointer;
}

#boxContainer #close:hover {
    color: red;
}

#boxContainer #prev:hover,
#boxContainer #next:hover {
    color: #09c;
}

.menus #innerBox {
    width: 80%;
    height: 95vh;
    background-image: url(../imgs/menu1.jpeg);
    background-size: 100% 100%;
}



.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 30vh;
    bottom: 30vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    background-color: #72253d;
}



@media screen and (max-width: 580px) {
    .flex-sm-column {
        flex-direction: column !important;
    }

    .align-items-sm-start {
        align-items: flex-start !important;
    }

    .mini {
        width: 50%;

    }

    .content h2 {
        font-size: 2.8rem;
    }

    .crepiano-logo {
        width: 30%;
    }

    #innerBox {
        width: 90%;
        height: 50vh;
    }

    .menus #innerBox {
        width: 90%;
        height: 40vh;
        text-align: center;
        object-fit: contain;
        background-image: url(../imgs/menu1.jpeg);
        background-size: 100% 100%;
    }

    .navbar-brand img {
        width: 40px;
    }

    .w-50 {
        width: 100% !important;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: 17vh;
        bottom: 17vh;


    }

    @media (max-width: 480px) {
        .inner-details {
            min-width: 90vw;
            max-width: 95vw;
            padding: 1rem !important;
        }
    }
}